@import '../../mixins.scss';

.component_info {
    width: 100%;
    padding: 2rem 4rem;
    // min-height: 100vh;
    height: auto;
    // overflow-y: auto;
    @include tablet {
        padding: 2rem;
    }

    h1 {
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
}
