@import '../../mixins.scss';

.component_info {
    width: 100%;
    padding: 2rem 4rem;
    height: auto;
    @include tablet {
        padding: 2rem;
    }
    @include mobile {
        padding: 1rem;
    }

    h1 {
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
}
