@import '../../mixins.scss';

nav {
    width: 300px;
    height: 100vh;
    display: flex;
    overflow-y: auto;
    align-items: flex-end;
    flex-direction: column;
    padding: 3rem 3rem 3rem 0;
    border-right: 2px solid $lightest;
    // background-color: $lightest;

    a {
        color: $dark;
        font-size: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        height: max-content;
        padding: 0.5rem 1rem;
        text-transform: capitalize;
        transition: 0.4s all ease-in-out;

        &.active {
            color: $light;
            background-color: $dark;
        }

        &:hover {
            color: $light;
            background-color: $dark;
        }
    }
}
