@import '../../mixins.scss';

nav {
    width: 300px;
    height: 100vh;
    border-right: 2px solid $lightest;
    z-index: 100;
    @include tablet {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        background-color: $lightest;
    }

    .nav-container {
        height: max-content;
        display: flex;
        overflow-y: auto;
        align-items: flex-end;
        flex-direction: column;
        padding: 3rem 3rem 3rem 0;
        @include tablet {
            padding: 3rem;
            align-items: flex-start;
        }

        a {
            color: $dark;
            font-size: 1rem;
            border-radius: 5px;
            margin-bottom: 1rem;
            height: max-content;
            padding: 0.5rem 1rem;
            text-transform: capitalize;
            transition: 0.4s all ease-in-out;
            @include tablet {
                padding: 0.5rem 0;
            }

            &.active,
            &:hover {
                color: $dark;
                padding: 0.5rem 1rem;
                background-color: $primary;
            }
        }
    }
}

.nav-controller {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 101;
}
