@import '../../mixins.scss';

nav {
    position: sticky;
    top: 0;
    width: 300px;
    height: 100vh;
    z-index: 100;
    background-color: $lightest;
    border-right: 2px solid $lightest;
    @include tablet {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        background-color: $lightest;
    }

    .nav-container {
        height: max-content;
        display: flex;
        overflow-y: auto;
        align-items: flex-end;
        flex-direction: column;
        padding: 3rem;
        @include tablet {
            padding: 3rem;
            align-items: flex-start;
        }
        @include sm-mobile {
            padding: 1rem;
        }

        a {
            color: $dark;
            transition: 0.4s all ease-in-out;

            &.active {
                color: $dark;
                font-weight: 600;
                background-color: $primary;

                &:hover {
                    background-color: $primary;
                }
            }

            &:hover {
                color: $dark;
                background-color: $light;
            }
        }
    }

    p {
        @include tablet {
            text-align: center;
        }
    }
}

.nav-controller {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 101;
}
